body { 
    background-color:orange;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

}
.modal-container{
    background: #fff;
    width: 500px;
    min-height: 200px;
    max-width: calc( 100% - 32px);
}
.modal-header{
    
    background: #009688;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    
}
.modal-body{
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;

}
.modal-input{ 
    border: 1px solid #ccc;
    width: 94%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#send {
    
    background: #009688;
    border: none;
    width: 100%;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor:pointer;
 }
 #send:hover{
     opacity: 0.9;
 }
